@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>To-Do List</h1>
<form method="post">
    <input type="text" name="task" placeholder="New task" required />
    <button type="submit" asp-page-handler="Add">Add</button>
</form>

<ul>
    @foreach (var todo in Model.Todos)
    {
        <li>
            @todo.TaskName
            <form method="post" style="display:inline;">
                <input type="hidden" name="id" value="@todo.Id" />
                <button type="submit" asp-page-handler="Delete">Delete</button>
            </form>
        </li>
    }
</ul>